<h1>Posts in category <span class="label">{{ filter_cat }}</span></h1>

<ul>
{% for post in collections.posts.pages reversed %}
    {% assign cats = post.categories | replace: " ", "" |  split: "," %}
    {% for cat in cats %}
        {% if cat == filter_cat %}
            <li><a href="/{{ post.permalink }}">{{ post.title }}</a><br/>
                {% for c in post.categories %}<a class="label" href="{{ "/categories/" }}{{ c | escape }}">{{ c }}</a>{% endfor %}
            </li>
            {% break %}
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>
