{% include "head.liquid" %}
{% assign content = page.content %}
{% include "reading_time.liquid" %}
<div class="content container">
    <div class="post">
        <span class="post-date">
{% if page.previous %}
        <a class="label" href="/{{page.previous.permalink}}">&laquo; {{page.previous.title}}</a>
{% endif %}
        <a class="label" href="{{ "/" }}">up</a>
{% if page.next %}
        <a class="label" href="/{{page.next.permalink}}">{{page.next.title}} &raquo;</a>
{% endif %}
        </span>

        <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-date">{% if page.is_draft %}Unpublished draft{% else %}{{ page.published_date | date: "%-d %B %Y" }}{% endif %} &middot; {{ reading_time }} read{% if site.data.params.utterances %} &middot; <a href="#comments">Comments</a>{% endif %}

        {% comment %}if post.categories.count > 0{% endcomment %}
        <br/>
        {% for cat in page.categories %}<a class="label" href="{{ "/categories/" }}{{ cat | escape }}">{{ cat }}</a>{% endfor %}

        </span>
        {{ page.content }}
    </div>
    {% if site.data.params.utterances %}
    <div id="comments">
        <script src="https://utteranc.es/client.js"
                repo="{{ site.data.params.utterances }}"
                issue-term="{{ site.data.params.utterancesMapping }}"
                theme="{{ site.data.params.utterancesTheme }}"
                crossorigin="anonymous"
                async>
        </script>
    </div>
    {% endif %}
</div>
{% include "foot.liquid" %}
